html {
    font-size: 20px;
}


.cats {
    background: blue;
}


input {
    border: 1px solid gray;
    padding: 5px;
    margin: 10px;
    width: 40%;
    font-size: 20px;
    border-radius: 5px;
}

input:focus {
    outline: none;
    box-shadow: 1px 0 10px 0 chartreuse;
}


.addition-section {
    margin: 15px 15%;
    width: 70%;
    text-align: center;
}

.addition-inputs {

}

.addition-section-btn {
    text-align: center;
}

.addition-section-btn button,
.edit-section-btn {
    width: 70%;
    margin:  10px 15%;
    padding: 10px;
    background-color: darkblue;
    color: whitesmoke;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
}   
.addition-section-btn button:focus,
.edit-section-btn:focus {
    box-shadow: 0px 1px 10px 0px gray;
}

.add-successful {
    color: green;
    padding: 15px 5%;
    font-size: 18px;
    background-color: rgb(178, 226, 178);
    border-radius: 5px;
    width: 70%;
    margin: 10px 10%;
}

.add-unsuccessful {
    color: red;
    padding: 15px 5%;
    font-size: 18px;
    background-color: rgb(209, 190, 190);
    border-radius: 5px;
    width: 70%;
    margin: 10px 10%;
  
}

.fa-btn {
    background: rgba(0, 0, 255, 0);
    border: none;
    font-size: 17px;
    color: rgb(32, 155, 155);
}

.fa-btn:hover {
    color: rebeccapurple;
}

table {
    margin: 15%;
    width: 70%;
}

.td-btn {
    /* width: 10%; */
    /* display: flex; */
    /* float: right; */
}

.td-info {
    padding: 20px;
    width: 70%;
}

.td-pic {
    width: 15%;
}

