/*  .cudly-paws {
    display: flex;
} 

.single {
    font-size: 1.5rem;
}

.paws {
    color: purple;
    font-size: 1.6rem;
    
}

.paw {
    padding: 10px 10px 0;
}

.single .desc {
    font-size: 1.1rem;
}

.container {
    width: 70%;
    margin: 20px 15%;
}

.single .name {
    font-size: 3rem;
    color: green;
}

.single .category-header {
    padding: 0 0 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.individual-line {
    display: block;
} */