.half-icon {
    /* padding: 10px 0; */
}

.blue {
    /* font-size: 40px; */
    /* height: 30px; */
    /* color: orchid; */
    /* padding: 5px; */
}

.color-block {
    position: relative;
    right: 30px;
    padding: 10px;
    background-color: whitesmoke;
}


.blue:hover {
    color: green;
}